@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto";
}

/* 
    ==============================================================
            STYLES FOR THE HEADER 
    ==============================================================

*/

.col-header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

.navigation {
  background: #d92950;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  width: 100vw;
  height: 80px;
}
nav .selected-link {
  border-bottom: 2px solid rgba(255, 4, 107, 1);
}

nav ol {
  margin-top: 7%;
}

nav li {
  margin-right: 50px;
  list-style: none;
}

nav li a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 100;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

nav li:active {
  border-bottom: 2.5px solid rgba(255, 4, 107, 1);
}

nav li:hover {
  border-bottom: 2.5px solid rgba(255, 4, 107, 1);
}

header {
  margin-top: 80px;
}

#logo {
  margin-left: 15%;
  margin-top: 10%;
  width: 6vw;
}

.header-content {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.title-uppercase {
  text-transform: uppercase;
  color: white;
  font-size: 5.5vw;
  font-weight: 900;
  font-family: "Montserrat-Bold";
  text-align: center;
}
.text-yellow {
  color: yellow;
}
.reveal {
  padding-top: 9vh;
  padding-bottom: 6vh;
}

.btn-lg {
  text-decoration: none;
  background-color: #fff;
  border-radius: 1.25rem;
  font-family: "Roboto";
  padding: 15px;
  color: #d92950;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid white;
}
.btn-lg:hover {
  background: inherit;
  color: white;
  border-radius: 15px;
}

.btn-call {
  margin-right: 20px;
}

.reveal-paragraph {
  width: 45%;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: "Montserrat Regular";
  font-weight: 400;
  line-height: 1.5;
}

.technos {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techno-image {
  margin-left: 6vw;
  width: 50px;
  opacity: 0.5;
}

/* 
    ==============================================================
            STYLES FOR THE SECONS SECTION 
    ==============================================================

*/

.home {
  background: #f1f0f3;
  color: #424345;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 12vh;
  padding-right: 5vw;
  height: 92vh;
}

.kda-image {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  height: 450px;
  left: -70px;
}

.kda-cohorte-2020 {
  position: relative;
  width: 400px;
  border-radius: 20px;
  top: -230px;
  left: 230px;
}

.campus-autre {
  margin-left: -70px;
}

.campus-autre h2 {
  font-family: "Montserrat";
  color: #424345;
  margin-bottom: 3.125rem;
  font-size: 2.5rem;
  padding-top: -15px;
  line-height: 1.2;
  font-size: 2.5rem;
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
}

.icon {
  height: 80px;
  width: 40px;
  position: relative;
  border-bottom: 2px solid #d92950;
  left: 40%;
  padding-bottom: 2%;
  margin-bottom: 15px;
}

.row h5 {
  font-family: "Montserrat";
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  text-align: center !important;
  color: #424345;
}

/* 
    ==============================================================
            STYLES FOR THE PARTNERS SECTION 
    ==============================================================

*/

.partners {
  background: #d92950;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.partner_img {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0;
}

.partner_img img {
  width: 100px;
  max-width: 100%;
}

.partners h2 {
  font-style: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

/* 
    ==============================================================
            STYLES FOR THE PROJECT SECTION 
    ==============================================================

*/

.projects {
  background-color: #f1f0f3;
  color: #424345;
  width: 100vw;
  height: auto;
  padding: 100px 0;
}

.follow-up-projects {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 60px;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  width: 600px;
  margin: 0 20px;
  border-radius: 0px 0px 20px 20px;
}

#project-card-left {
  border-top: 10px solid #ffe64d;
}
#project-card-right {
  border-top: 10px solid #d92950;
}

.card-content p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "Montserrat Regular";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.card-content a {
  color: #fff;
  background-color: #d92950;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin: 24px 0 0;
  border: 2px solid #d92950;
  font-size: 1.25em;
  padding: 15px 25px;
  text-align: center;
}
.card-content a:hover {
  background: none;
  color: #d92950;
}

.projects h3 {
  text-align: center;
  color: #d92950;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 20px 0px;
}
.projects h2 {
  /* color: #341F41; */
  font-style: normal;
  color: #424345;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  /* padding-bottom: 2.5%; */
}

/* 
    ==============================================================
            STYLES FOR WORKS SECTION
    ==============================================================

*/

.works {
  background: #d92950;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 100px 0;
  width: 100vw;
}

.works h2 {
  font-style: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
  margin: 0px 0px 100px;
}

.works-container {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: auto;
}

.work-card {
  padding: 20px;
}

.work-image {
  width: 97%;
  border-radius: 15px;
}

.work-footer {
  margin-top: 20px;
}

.client {
  display: flex;
}

#client-info {
  width: 60%;
}

#client-info p {
  font-size: 0.7em;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 200;
  line-height: 1.5em;
}

#client-info a {
  font-size: 0.7em;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  text-decoration: none;
  color: white;
}

#client-country {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 20px;
}

.client img {
  width: 19px;
  height: 19px;
  padding: 0.5px;
}

.country {
  color: #d92950;
  right: 15px;
  top: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.techno-used {
  display: flex;
  background-color: #ed0058;
  font-size: 0.7em;
  padding: 5px;
  margin-top: 10px;
  font-family: "Ubuntu Mono", monospace;
}

/* 
    ==============================================================
            STYLES FOR EXPERTISE SECTION
    ==============================================================

*/

.expertise {
  background-color: #fff;
  color: #424345;
  width: 100vw;
  padding: 100px 0;
}

.expertise h2 {
  font-style: normal;
  color: #424345;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  padding-bottom: 1%;
}

.expertise-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
}

.expertise-card {
  margin: 0px 25px;
}

.hardskills {
  width: 45vw;
}
.hardskills h3,
.softskills h3 {
  color: white;
  font-size: 2em;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#h-title {
  height: 70px;
  background: #d92950;
  padding: 20px 0;
}
#h-body {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f1f0f3;
  border-radius: 0 0 20px 20px;
}
.logo-techno {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 25px;
}
.logo-techno figure {
  text-align: center;
  width: 200px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-size: 1.2em;
}
.logo-techno img {
  width: 50px;
}

.softskills {
  width: 30vw;
  background-color: #f1f0f3;
  border-radius: 0 0 20px 20px;
}

#s-title {
  height: 70px;
  background: #341f41;
  padding: 20px 0;
}
#s-body {
  padding: 40px 30px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.3em;
  font-weight: 400;
}
#s-body ol {
  line-height: 2em;
  list-style-position: inside;
}
#s-content {
  background: #dfdee1;
  padding: 30px 35px;
  padding-bottom: 60px;
  border-radius: 10px;
}

/* 
    ==============================================================
            STYLES FOR READY SECTION
    ==============================================================

*/

.ready {
  background-color: #ae3753;
  color: white;
  padding: 100px 30px;
  width: 100vw;
}

.ready h2 {
  font-style: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

.ready-container {
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.read-col {
  margin: 20px;
  width: 300px;
}
.read-col h4 {
  margin-right: 15px;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.2em;
  font-weight: 700;
  font-style: normal;
}

.images-grp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.left-icon {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 25px;
}
.right-icon img {
  width: 30px;
}
.left-icon img {
  width: 35px;
  max-width: 100%;
  margin-left: 15px;
  margin-top: 15px;
  border: 1px;
}
.ready a {
  color: #fff;
  background-color: #d92950;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin: 24px 0 0;
  border: 2px solid #d92950;
  font-size: 1.25em;
  padding: 20px 25px;
}
.ready p {
  text-align: center;
  margin-top: 100px;
}
.ready a:hover {
  background: none;
  border: 2px solid white;
  color: white;
  transition-duration: 0.3s;
}

/* 
    ==============================================================
            STYLES FOR JOBS SECTION
    ==============================================================

*/

.jobs {
  background-color: #f1f0f3;
  color: #424345;
  padding: 100px 30px;
  width: 100vw;
}

.jobs-container {
  display: flex;
  justify-content: center;
}

.jobs h2 {
  font-style: normal;
  color: #424345;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
}

.jobs-container span {
  color: #d92950;
}

.jobs-left {
  width: 38vw;
}
.jobs-left img {
  width: 100%;
}

.jobs-right {
  margin-top: -20px;
  margin-left: 20px;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.job-card {
  width: 90%;
  height: 290px;
  margin: 30px;
  border-radius: 20px;
  background: #fff;
  padding: 15px 15px;
}
.job-card img {
  width: 50px;
  margin-bottom: 10px;
}

.job-card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.jobs-left p{
  margin-top: 20px;
  font-family: 'Montserrat Regular';
  font-size: 1rem;
}

.job-card p{
  margin-top: 20px;
  font-family: 'Montserrat Regular';
  font-size: 1rem;
}

/* 
    ==============================================================
            STYLES FOR MEDIA SECTION
    ==============================================================

*/

.in-media {
  padding: 100px 0;
  background: #000;
  text-align: center;
  width: 100vw;
}

.in-media h2 {
  font-style: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 20vw;
  margin-right: 20vw;
}
.media-img {
  margin: 0 35px;
}

/* 
    ==============================================================
            STYLES FOR SPONSORS SECTION
    ==============================================================

*/

.sponsors {
  padding: 100px 0;
  background: #ffffff;
  color: #424345;
}

.sponsors h2 {
  font-style: normal;
  color: #424345;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  padding-bottom: 3%;
}

.sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}

.sponsors-row {
  display: flex;
  justify-content: center;
}

.sponsors-image,
.twitter-frame {
  width: 280px;
  margin: 25px 15px;
}
.sponsors-image img {
  width: 280px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.sponsors-image strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* 
    ==============================================================
            STYLES FOR CONTACTS SECTION
    ==============================================================

*/

.contact-form {
  padding: 100px 0;
  background: #1d1b25;
  color: white;
}

.contact-form h2 {
  font-style: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}
.contact-form #formulaire {
  width: 75vw;
  margin: auto;
}
.contact-form fieldset {
  border: none;
  color: rgba(250, 250, 250, 0.9);
}
.contact-form legend {
  font-family: "Roboto", sans-serif;
  margin: 0 0 8px;
}

.contact-form .select-field {
  width: 49%;
}

.contact-form input:not(.envoie),
select {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  font-family: "Roboto", sans-serif;
}

.contact-form a {
  color: #d92950;
  text-decoration: none;
}
.contact-form a:hover {
  border-bottom: 2.5px solid #d92950;
}

#formulaire > p:nth-of-type(1) {
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}
#formulaire input,
select,
textarea {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.placeholder ::placeholder,
#formulaire option {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.placeholder :-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.placeholder ::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.form-col {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hidden_option {
  display: none;
}
select {
  appearance: none;
  background-color: #fff;
}
select::-ms-expand {
  display: none;
}
textarea {
  padding-top: 10px;
  height: 20px;
}

textarea {
  width: 100%;
  height: 60px;
  margin: 8px 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 4px solid rgba(199, 117, 135, 0.4);
}

.form-pgr {
  line-height: 1.5em;
  color: rgba(250, 250, 250, 0.9);
}

#formulaire button {
  color: #fff;
  background-color: #d92950;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid #31052c;
  font-size: 1.05em;
  margin-top: 20px;
}
#formulaire button:hover {
  background: transparent;
  transition: 0.3s;
  border: 2px solid #d92950;
  cursor: pointer;
}

/* 
    ==============================================================
                  STYLES FOR FOOTER SECTION
    ==============================================================

*/
footer {
  padding: 100px 0;
  background: #2d2d2d;
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: 70px auto;
}
.adresse,
.registration {
  padding: 0 15px;
  width: 50%;
}
address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1.6em;
  margin: 0 0 32px;
  line-height: 1.3em;
  color: rgba(250, 250, 250, 0.9);
}
.adresse .kda-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1.6em;
  color: #d92950;
  text-decoration: none;
  line-height: 1.3em;
}

.social-media-icon {
  padding-top: -20px;
}
.sm-icon {
  color: #d92950;
  font-size: 2.2em;
  margin: 60px 25px 0 0;
  position: relative;
}

.registration p:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  margin: 0 0 25px;
  color: rgba(250, 250, 250, 0.9);
}
.footer-content strong {
  color: #fff;
}
.registration input {
  height: 60px;
  width: 70%;
  padding-left: 10px;
}
.registration input:focus {
  outline: 3px solid rgba(217, 41, 80, 0.3);
}
.registration button {
  height: 60px;
  color: #fff;
  background-color: #d92950;
  border-radius: 0px 15px 15px 0px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 15px 25px;
  font-size: 1.05em;
  border: none;
  position: absolute;
}
.registration button:hover {
  background: #ad354f;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-color: white;
}
.registration form {
  margin-bottom: 250px;
}

.registration a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
.adresse .kda-contact:hover,
.sm-icon:hover {
  border-bottom: 2px solid #ff046b;
  color: #ff046b;
  padding-bottom: 2px;
}
.registration a:hover {
  border-bottom: 2px solid #ff046b;
  padding-bottom: 2px;
}

/* ==============================================================
        STYLES FOR THE SECOND PAGE
 ===================================================== */

.opportunities {
  width: 100vw;
  padding: 100px 0;
}

.opportunities h1 {
  font-style: normal;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 80px;
}

.current-jobs {
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.c-card {
  width: 30%;
  height: auto;
  margin-bottom: 30px;
  background: #f1f0f3;
  padding: 30px;
  border-radius: 15px;
}
.c-card h4 {
  font-family: "montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
}
.c-card p {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.c-card a {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #d92950;
  font-size: 1.1em;
}

.c-card a:hover {
  border-bottom: 2px solid #d92950;
}
