
@font-face{  font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{  font-family: 'Montserrat-Bold';
    src: url(fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face{  font-family: 'Montserrat Regular';
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{  font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face{  font-family: 'Roboto-Bold';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    font-size: 16px;
}

/* ======================================================================= */
        /* Styles for Nav Bar  For both Pages*/
/* ======================================================================= */

        .navigation{
            position: fixed;
            background-color: #d92950;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            z-index: 1;
        }

        #logo{
            width: 100px;
            padding: 20px;
        }

        nav ul{
            margin: 0px;
            padding: 0px;
            display: flex;
        }

        nav li{
            list-style-type: none;
            margin-top: 40px;
            margin-right: 40px;
        }

        .index{
            border-bottom: 2px solid #ff046b;
        }

        li:hover{
            border-bottom: 2px solid #ff046b;
        }

        nav a{
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            font-weight: bold;
            font-family: 'Roboto-Bold';
        }

/* ======================================================================= */
     /* Styles for Header for Index Page */
/* ======================================================================= */

        .header-content{
            background-image: url(../images/hero-background.jpg);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-top: 10%; 
        }

        .title-uppercase{
            text-transform: uppercase;
            color: white;
            font-size: 5.5vw;
            font-weight: 900;
            font-family: 'Montserrat-Bold';
            text-align: center;
        }
        .text-yellow{
            color: yellow;
        }
        .reveal{
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .btn-lg {
            text-decoration: none;
            background-color: #fff;
            border-radius: 1.25rem;
            font-family: 'Roboto';
            padding: 20px;
            color: #d92950;
            font-size: 20px;
            font-weight: 700;
        }
        .btn-lg:hover{
            background: inherit;
            color: white;
            border-radius: 20px;
            border: 2px solid white;
        }

        .btn-call{
            margin-right: 20px;
        }

        .reveal-paragraph{
            width: 45%;
            color: white;
            font-size: 17px;
            text-align: center;
            font-family: 'Montserrat-Regular';
        }

        .technos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
        }

        .techno-image{
            padding: 50px;
            width: 50px;
            opacity: 0.4;
        }


  /* ======================================================================= */
        /* Styles for Services */
/* ======================================================================= */

        .services{
            background-color: #f1f0f3;
            padding-top: 5%;
            height: 85vh;
        }

        .services-content{
            display: flex;
        }

        .kda-image{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            position: relative;
            height: 450px;
            left: -70px
        }

        .kda-cohorte-2020{
            position: relative; 
            width: 400px;
            border-radius: 20px;
            top: -230px;
            left: 230px;
        }

        .campus-autre{
            padding-left: 80px;
        }
        
        .campus-autre h1{
            font-size: 38px;
            font-family: 'Montserrat';
            color:#424345;
        }

        .campus-activities{
            padding-top: 5%;
            display: flex;
            flex-direction: column;
        }

        .row{
            display: flex;
            justify-content: space-around;
        }

        .col-6{
            width: 45%;
        }

        .icon{
            height: 90px;
            width: 50px;
            position: relative;
            border-bottom: 2px solid #d92950;
            left: 45%;
            padding-bottom: 2.5%;
            margin-bottom: 2.5%;
        }

        .row h5{
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color:#424345;   
        }

/* ======================================================================= */
        /* Styles for Partners */
/* ======================================================================= */

        .partners{
            background-color: #d92950;
            color: white;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .partners h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .partners-content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .partners-image-container{
            padding: 2%;
        }
        .img-fluid{
            padding: 30px;
        }


/* ======================================================================= */
        /* Styles for Projects */
/* ======================================================================= */

        .project{
            background-color: #f1f0f3;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .project h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
            color:#424345;
        }

        .card-container{
            margin-top: 3%;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            justify-content: center;
        }

        .card{
            margin-left: 30px;
            padding: 2.5%;
            width: 500px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .card-yellow{
            border-top: 10px solid #ffe64d;
            background-color: white;
        }

        .card-red{
            border-top: 10px solid #d92950;
            background-color: white;
        }

        .card-body{
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            align-items: center;
        }

        .card-title{
            color: #d92950;
            font-family: 'Montserrat';
            font-size: 27px;
        }

        .card-text{
            padding-top: 20px;
            font-family: 'Montserrat Regular';
            font-size: 16px;
            text-align: center;
        }

        .btn-lg-project {
            text-decoration: none;
            background-color:  #d92950;
            border-radius: 1.25rem;
            padding: 20px;
            color: white;
            font-size: 20px;
            font-weight: 700;
            margin-top: 40px;
        }
        .btn-lg-project:hover{
            background: inherit;
            color:  #d92950;
            border-radius: 20px;
            border: 2px solid  #d92950;
        }
        .partners{
            background-color: #d92950;
            color: white;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .partners h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .partners-content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .partners-image-container{
            padding: 2%;
        }
        .img-fluid{
            width: 90px;
            padding: 20px;
        }


/* ======================================================================= */
        /* Styles for  PRODUCTS */
/* ======================================================================= */

        .products{
            background-color: #d92950;
            color: white;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .products h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .work{
            display: flex;
            justify-content: space-between;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 5%;
        }

        .work-col{
            width: 92.5%;
        }

        .work-footer{
            width: 85%; 
        }

        .work-footer p{
            color: white;
            font-size: 13px;
            font-weight: 300;
            text-decoration: none;
            font-family: 'Montserrat-Regular';
        }

        .work-footer a{
            color: white;
            font-size: 13px;
            font-weight: 300;
            text-decoration: none;
            font-family: 'Montserrat-Regular';
        }

        .work-img{
            border-radius: 20px;
            width: 92%;
        }

        .footer-left{
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            height: 20px;
        }

        .footer-left h5{
            color: #d92950;
            padding-left: 5%;
            padding-right: 5%;
        }

        .client{
            display: flex;
            justify-content: space-between;
            align-self: center;
        }

        .techno-used{
            margin-top: 10px;
            height: 25px;
            padding: 5px;
            background-color: #ed0058;
            display: flex;
        }

        .techno-used svg{
            padding: 2px;
        }
        .techno-used p{
            font-weight: 400;
        }
        
/* ======================================================================= */
        /* Styles for  EXPERTISE */
/* ======================================================================= */

        .expertise{
            background-color: white;
            color:#424345;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .expertise h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .expertise-card-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 3%;
        }

        .left{
            width: 45%;
        }

        .right{
            width: 35%;
            margin-left: -15%;
        }

        .expertise-header-left{
            height: 60px;
            background-color: #d92950;
            color: white;
        }

        .expertise-header-right{
            height: 60px;
            background-color: #424345;
            color: white;
        }

        .expertise h3{
            font-family: 'Montserrat';
            font-size: 28px;
            padding: 15px;
        }

        .expertise p{
            font-family: 'monospace';
            text-align: center;
        }

        .expertise-body{
            background-color: #f1f0f3;
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        

        .hardskills{
            padding: 20px;
        }

        /* .row{
            padding: 15px;
        } */

        .softskills{
            width: 50%;
            background-color: #dfdee1;
            border-radius: 20px;
            margin-left: 10%;
            padding: 65px;
        }

        .softskills-list li{
            border-bottom: none;
            font-family: 'monospace';
            letter-spacing: 1.9px;
            font-weight:500;
            font-size: 16px;
        }

/* ======================================================================= */
        /* Styles for IN READY */
/* ======================================================================= */
        
        .ready{
            background-color: #ae3753;
            color: white;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-left: 10%;
            padding-right: 10%;
        }

        .ready h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .ready p{
            text-align: center;
            font-family: 'Monospace';
            font-size: 20px;
        }

    

        .ready-images{
            padding-top: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .img-container{
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 20px;
        }

        .img-left{
            border: 2px solid white;
            border-radius: 10px;
            padding: 10%;
            height: 60px;
        }

        .img-arrow{
            padding: 10%;
            width: 40px;
            height: 30px;

        }

        .img{
            width: 50px;
            align-self: center;
        }

        .plan-call{
            padding-top: 10%;
            padding-bottom: 3%;
        }

        .btn-plan-call{
            background-color: #d92950;
            border-radius: 20px;
            padding: 1.25rem;
            color: white;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Robotto';
            text-decoration: none;
        }

        .btn-plan-call:hover{
            background-color: inherit;
            border-radius: 20px;
            border: 2px solid white;
            color: white;
        }

 /* ======================================================================= */
        /* Styles for IN JOBS */
/* ======================================================================= */

        .jobs{
            background-color: #f1f0f3;
            padding-top: 5%;
            padding-bottom: 5%;
            color: #424345;
        }

        .jobs-container{
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            padding-left: 10%;
            padding-right: 10%;
        }

        .jobs-container-left span{
            color: #d92950;
        }

        .jobs-container-left{
            width: 45%;
            font-size: 25px;
            font-family: 'Montserrat';
            color:#424345;
        }

        .jobs-container-left p{
            padding-top: 7%;
            padding-bottom: 7%;
            font-size: 16px;
            font-family: 'Montserrat Regular';
            color:#424345;
        }

        .jobs-container-right{
            width: 40%;
        }

        .jobs-col{
            background-color: #fff;
            width: 40%;
            height: 270px;
            margin: 15px;
            border-radius: 20px;
            padding: 20px;
        }

        .jobs-col img{
            width: 50px;
        }

        .jobs-col h3{
            font-size: 1.5rem;
            font-family: 'Montserrat';
        }

        .jobs-col p{
            padding-top: 7%;
            padding-bottom: 7%;
            font-size: 16px;
            font-family: 'Montserrat Regular';
            color:#424345;
        }

        .right-row{
            display: flex;
            justify-content: space-between;
            margin-left: -90px;
        }
    

/* ======================================================================= */
        /* Styles for IN MEDIA */
/* ======================================================================= */

        .in-media{
            background-color: black;
            color: white;
            padding-top: 5%;
        }

        .in-media h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .media{
            padding-top: 2.5%;
            padding-bottom: 5%;
            padding-right: 28%;
            padding-left: 28%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }


/* ======================================================================= */
        /* Styles for IN SPONSORS */
/* ======================================================================= */

        .sponsors{
            padding-top: 5%;
            padding-bottom: 6%;
        }

        .sponsors-container{
            padding-left: 10%;
            padding-right: 10%;
        }

        .sponsors-container h1{
            text-align: center;
            color:#424345;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .sponsors-col img{
            border-radius: 20px;
            width: 300px;
        }

        .sponsors-col{
            padding: 15px;
        }

        .row1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 3%;
        }

        .sponsors-col p{
            padding-top: 7%;
            padding-bottom: 7%;
            font-size: 16px;
            font-family: 'Montserrat Regular';
            color:#424345;
        }
        .sponsors-col strong{
            font-family: 'Montserrat';
        }

        .row2{
            display: flex;
            justify-content: space-between;
            align-items: center;          
        }

        .row2 div{
            margin-left:20px;
            border-radius: 15px;
            /* height: 500px; */
            width: 300px;
        }
/* ======================================================================= */
        /* Styles for CONTACT FORM */
/* ======================================================================= */


        .contact{
            background-color:#241f2b;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-left: 10%;
            padding-right: 10%;
            color: white;
        }

        .contact h1{
            color: #e1e1e2;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 40px;
            padding-bottom: 3%;
        }
        
        .contact label{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .dmd select{
            width: 98.5%;
            height: 40px;
            border: none;
            outline: none;
            /* box-sizing: 1px solid #d92950; */
            box-sizing: border-box;
        }

        .dmd textarea{
            width: 98.5%;
            border: none;
            outline: none;
        }

        .contatc-form{
            display: flex;
            justify-content: space-between;
            
        }

        .contact label{
            font-family: 'Roboto';
        }

        .form-left{
            width: 50%;
        }


        .contact div{
            padding-top: 10px;
        }

        .form-right{
            width: 50%;
            margin-left: 2.5%;
        }

        .inputBox{
            width: 97.5%;
            height: 40px;
            background-color: ivory;
            border: none;
            outline: none;
        }

        .contact select{
            background-color: ivory;
        }

        .contact p{
            font-family: 'Montserrat-Regular';
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
        }

        .send{
            height: 50px;
            background-color: #d92950;
            color: white;
            border: none;
            border-radius: 10px;
            font-family: 'Roboto';
            font-size: 17px;
            font-weight: 800;
            padding: 10px;
        }

        .send:hover{
            background-color: inherit;
            color: white;
            border: 2px solid #d92950;
            border-radius: 10px;
        }

        ::placeholder{
            padding-left: 10px;
        }

        #paragraph-form{
            font-family: 'Montserrat';
            text-align: center;
            font-size: 1rem;
        }

        .contact span{
           color: #d92950;
        }

        .contatc-form form{
            font-family: 'Roboto-Regular';
            font-size: 1rem;
        }



/* ======================================================================= */
        /* Styles for FOOTER */
/* ======================================================================= */

        footer{
            padding: 10%;
            background-color: #2d2d2d;
            color:white;
        }

        footer address{
            font-style: normal;
            color: hsla(0,0%,100%,.87);
            font-size: 1.4rem;
            font-weight: 400;
            font-family: 'Roboto';
        }

        .footer-content{
            display: flex;
            justify-content: space-between;
        }

        .formulaire{
            width: 45%;
        }

        .email-telephone{
            padding-top: 40px;
        }

        .email-telephone a{
            color: #b92949;
            font-size: 1.4rem;
            text-decoration: none;
        }

        .form{
            display: flex;
            padding-top: 20px;
        }

        .email{
            height: 45px;
            width: 400px;
        }

        .subscribe{
            height: 50px;
            width: 150px;
            background-color: #d92950;
            color: white;
            border: none;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            font-family: 'Roboto';
            font-size: 17px;
            font-weight: 800;
            margin-left: -2px;
        }

        .subscribe:hover{
            background-color: inherit;
            color: #000;
        }

        footer p{
            font-size: 1.4rem;
            font-family: 'Montserrat Regular';
        }

        footer strong{
            font-family: 'Montserrat';
        }
        

/* 
        =========================================================
            STYLES FOR THE SECOND PAGE
        =========================================================
 */
        .kd-jobs{
            padding-left: 10%;
            padding-right: 10%;
        }

        .kd-jobs-container{
            padding-top: 15%;
            padding-bottom: 5%;
        }

        .kd-jobs h1{
            text-align: center;
            font-family: 'Montserrat';
            font-size: 38px;
        }

        .jobs-card-row{
            display: flex;
            flex-direction: column;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .row-jobs{
            display: flex;
            justify-content: space-between;
        }

        /* .row-jobs div{
            padding: 20px;
        } */

        .job-card{
            background-color:#f1f0f3;
            border-radius: 15px;
            border: 1px solid #dddcdf;
            width: 23vw;
            padding: 20px;
        }

        #row-job-2{
            padding-top: 30px;
        }

        .job-card li{
            list-style: none;
        }

        .job-card a{
            text-decoration: none;
            font-size: 1rem;
            color: #fd68a6;
        }

        .job-card h3{
            font-size: 1.3rem;
            line-height: 30px;
            font-family: 'Montserrat';
            color: #424345;
            margin-bottom: .5rem;
            font-weight: 700;
        }

        .job-card p{
            margin-bottom: 3rem !important;
            font-size: 1rem;
            font-family: 'Montserrat Regular';
        }